<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - SendSMS Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">

    <link rel="stylesheet" href="https://use.typekit.net/vzl0eib.css" crossorigin="anonymous">

    <meta charset="UTF-8">

    <meta name="theme-color" content="#007bff">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/227f49c19f.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Header -->
    <header class="navbar navbar-expand-lg bg-primary container-fluid p-3 mb-5">
        <!-- Branding -->
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <h2>SendSMS Web</h2>
        </a>
        
        <!-- Toggler -->
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Sms" asp-action="BuildMessage"><i class="fas fa-plus"></i> New message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user"></i> Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-paper-plane"></i> Senders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-clock"></i> Schedule</a>
                </li>
            </ul>
        </div>
    </header>

    <!-- Main section -->
    <div class="container card bg-dark mt-5 p-3 rounded" style="min-height: 80vh;">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="container-fluid mt-5 p-3">
        <div class="container text-center">&copy; Simen Eilevstjønn @DateTime.UtcNow.Year, MIT License</div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>